<% layout("/layouts/boilerplate") %>
<div class="row new-row">
<div class="col-6 offset-3">
<body>
    <h2>Add Salary/Expense Details</h2>
     <form method="post" action="/listings" class="needs-validation" novalidate>
      <div class="mb-3">
         <label for="Type" class="form-label">Type</label>
         <input class="form-control" type="text" placeholder="Salary/Expense" name="listing[Type]" required>
         <div class="invalid-feedback">Type should be valid</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Amount</label>
        <input class="form-control" type="number" name="listing[price]" placeholder="enter number here" required>
        <div class="invalid-feedback">Number should be valid</div>
     </div>
     <Div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" type="text" name="listing[description]" required></textarea>
      <div class="invalid-feedback">Please enter a short description</div>
   </Div>
        <button class="btn btn-dark offset btn-new-page">Add</button>
    </form>
</body>
</div>
</div>